{% load static %}

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BillionBlock | Registeration Form</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="{% static 'font/flaticon.css' %}">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="preloader" class="preloader">
        <div class='inner'>
            <div class='line1'></div>
            <div class='line2'></div>
            <div class='line3'></div>
        </div>
    </div>
    <section class="fxt-template-animation fxt-template-layout36">
        <div class="fxt-content-wrap">
            <div class="fxt-heading-content">
                <div class="fxt-video-background">
                    <div class="fxt-video">
                        <div id="fxtVideo" data-property="{
                            videoURL:'r4KpWiK08vM', 
                            autoPlay:true, 
                            mute:true, 
                            loop:true, 
                            startAt:0, 
                            opacity:1, 
                            quality:'default', 
                            showControls:false, 
                            optimizeDisplay:true,
                            containment:'.fxt-video-background'
                        }">
                        </div>
                    </div>
                </div>
                <div class="fxt-inner-wrap">
                    <div class="fxt-transformX-R-50 fxt-transition-delay-10">
                        <a href="{% url 'home:home_view' %}" class="fxt-logo"><img src="{% static 'img/logo.png' %}" alt="Logo" style="width: 300px; height: 200px;"></a>
                    </div>
                    <div class="fxt-transformX-R-50 fxt-transition-delay-10">
                        <div class="fxt-middle-content">
                            <h1 class="fxt-main-title">Welcome to the Billion Block Cartel</h1>
                            <p class="fxt-description">Are you a passionate blockchain developer looking to collaborate with like-minded individuals on
                                exciting crypto projects? Look no further! The Billion Block Cartel is a community of top-tier dvelopers who come together
                                to create innovative projects in the crypto space.
                             </p>
                        </div>
                    </div>
                    <div class="fxt-transformX-R-50 fxt-transition-delay-10">
                        <div class="d-flex align-items-center flex-wrap justify-content-between">
                            <ul class="fxt-socials">
                                <li class="fxt-facebook fxt-transformY-50 fxt-transition-delay-9">
                                    <a href="https://t.me/+THcZBn79tQkxZDhk" title="Facebook"><i class="fa fa-telegram"></i></a>
                                </li>
                                <!-- <li class="fxt-twitter fxt-transformY-50 fxt-transition-delay-10">
                                    <a href="#" title="twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="fxt-google fxt-transformY-50 fxt-transition-delay-11">
                                    <a href="#" title="google"><i class="fab fa-google-plus-g"></i></a>
                                </li>
                                <li class="fxt-linkedin fxt-transformY-50 fxt-transition-delay-12">
                                    <a href="#" title="linkedin"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                                <li class="fxt-pinterest fxt-transformY-50 fxt-transition-delay-13">
                                    <a href="#" title="pinterest"><i class="fab fa-pinterest-p"></i></a>
                                </li> -->
                            </ul>
                            <div class="fxt-copyright-text">Copyright © 2023 Billion Block. All Rights Reserved</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fxt-form-content">
                <div class="fxt-main-form">
                    <div class="fxt-inner-wrap fxt-opacity fxt-transition-delay-13">

                        <div>
                            <!-- Progressbar -->
                            <div class="mb-5 d-grid">
                                <div class="fxt-steps">
                                    <span class="fxt-current-step"></span> of
                                    <span class="fxt-total-step"></span> completed
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-solid progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                            <!-- Form -->
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" style="display:block; text-align:center;"><div>{{ message }}</div></div>
                            {% endfor %}
                            {% endif %}
                            <form method="post" action="{% url 'home:home_view' %}">
                                {% csrf_token %}
                                <div class="fxt-form-step">
                                    <h2 class="fxt-page-title">Personal Information</h2>
                                    <div class="form-group">
                                        <input id="name" type="text" class="form-control" name="name" placeholder="Name" oninput="formFunction()">
                                    </div>
                                    <div class="form-group">
                                        <input id="email" type="email" class="form-control" name="email" placeholder="Email" oninput="formFunction()">
                                    </div>
                                    <div class="form-group">
                                        <input id="twiterUsername" type="url" class="form-control" name="twitter_username" placeholder="Twitter Profile Link" oninput="formFunction()">
                                    </div>
                                    <div class="form-group">
                                        <div class="d-flex align-items-center gap-2 mt-5">
                                            <input type="button" name="next" class="next fxt-btn-fill" value="Next" id="1of5" style="display: none;">
                                        </div>
                                    </div>
                                </div>
                                <div class="fxt-form-step">
                                    <h2 class="fxt-page-title">Membership Criteria</h2>
                                    <div class="form-group">
                                        <input id="followersNumber" type="number" min="500" class="form-control" name="followers_number" placeholder="Number of Followers (500 and above)" oninput="formFunction()" value="500">
                                    </div>
                                    <div class="form-group">
                                        <input id="walletProof" type="url" class="form-control" name="wallet_proof" placeholder="Proof of $700 or more (Link to blockchain explorer)" oninput="formFunction()">
                                    </div>
                                    <div class="form-group">
                                        <div class="d-flex align-items-center gap-2 mt-5">
                                            <input type="button" name="previous" class="previous fxt-btn-fill" value="Previous Step">
                                            <input type="button" name="next" class="next fxt-btn-fill" value="Next" id="2of5" style="display: none;">
                                        </div>
                                    </div>
                                </div>
                                <div class="fxt-form-step">
                                    <h2 class="fxt-page-title">Experience & Skills</h2>
                                    <div class="form-group">
                                        <input id="experienceYears" type="number" class="form-control" name="experience_years" placeholder="Years of experience in blockchain" oninput="formFunction()">
                                    </div>
                                    <div class="form-group">
                                        <input id="previousProject" type="url" class="form-control" name="previous_project" placeholder="Link to previous crypto project worked on" oninput="formFunction()">
                                    </div>
                                    <h3 class="fxt-page-title">Choose Skillsets</h3>
                                    <div class="form-group" onclick="formFunction()">
                                        <div class="radio-box">
                                            <input id="radio-experiance1" name="checkbox1" type="checkbox" value="Business Development">
                                            <label for="radio-experiance1">Business Development</label>
                                        </div>
                                    </div>
                                    <div class="form-group" onclick="formFunction()">
                                        <div class="radio-box">
                                            <input id="radio-experiance2" name="checkbox2" type="checkbox" value="Designer">
                                            <label for="radio-experiance2">Designer</label>
                                        </div>
                                    </div>
                                    <div class="form-group" onclick="formFunction()">
                                        <div class="radio-box">
                                            <input id="radio-experiance3" name="checkbox3" type="checkbox" value="Developer">
                                            <label for="radio-experiance3">Developer</label>
                                        </div>
                                    </div>
                                    <div class="form-group" onclick="formFunction()">
                                        <div class="radio-box">
                                            <input id="radio-experiance4" name="checkbox4" type="checkbox" value="Marketer">
                                            <label for="radio-experiance4">Marketer</label>
                                        </div>
                                    </div>
                                    <div class="form-group" onclick="formFunction()">
                                        <div class="radio-box">
                                            <input id="radio-experiance5" name="checkbox5" type="checkbox" value="Operations">
                                            <label for="radio-experiance5">Operations</label>
                                        </div>
                                    </div>
                                    <div class="form-group" onclick="formFunction()">
                                        <div class="radio-box">
                                            <input id="radio-experiance6" name="checkbox6" type="checkbox" value="Product Management">
                                            <label for="radio-experiance6">Product Management</label>
                                        </div>
                                    </div>
                                    <div class="form-group" onclick="formFunction()">
                                        <div class="radio-box">
                                            <input id="radio-experiance7" name="checkbox7" type="checkbox" value="Research">
                                            <label for="radio-experiance7">Research</label>
                                        </div>
                                    </div>
                                    <div class="form-group" onclick="formFunction()">
                                        <div class="radio-box">
                                            <input id="radio-experiance8" name="checkbox8" type="checkbox" value="Video Production">
                                            <label for="radio-experiance8">Video Production</label>
                                        </div>
                                    </div>
                                    <div class="form-group" onclick="formFunction()">
                                        <div class="radio-box">
                                            <input id="radio-experiance9" name="checkbox9" type="checkbox" value="Memes">
                                            <label for="radio-experiance9">Memes</label>
                                        </div>
                                    </div>
                                    <div class="form-group" onclick="formFunction()">
                                        <div class="radio-box">
                                            <input id="radio-experiance10" name="checkbox10" type="checkbox" value="Other">
                                            <label for="radio-experiance10">Other</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="d-flex align-items-center gap-2 mt-5">
                                            <input type="button" name="previous" class="previous fxt-btn-fill" value="Previous Step">
                                            <input type="button" name="next" class="next fxt-btn-fill" value="Next" id="3of5" style="display: none;">
                                        </div>
                                    </div>
                                </div>
                                <div class="fxt-form-step">
                                    <h2 class="fxt-page-title">Reason for Joining</h2>
                                    <div class="form-group">
                                        <textarea cols="10" rows="5" id="whyJoin" type="" class="form-control" name="why_join" placeholder="Why do you want to join Billion Block Cartel?" oninput="formFunction()"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <textarea cols="7" rows="5" id="whatToContribute" type="" class="form-control" name="what_to_contribute" placeholder="What skills or expertise can you contribute to the Cartel?" oninput="formFunction()"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="d-flex align-items-center gap-2 mt-5">
                                            <input type="button" name="previous" class="previous fxt-btn-fill" value="Previous Step">
                                            <input type="button" name="next" class="next fxt-btn-fill" value="Next" id="4of5" style="display: none;">
                                        </div>
                                    </div>
                                </div>
                                <div class="fxt-form-step">
                                    <h2 class="fxt-page-title">Agreements</h2>

                                    <div class="form-group">
                                        <p>By submitting this form, you agree to abide by the Billion Block Cartel's rules and guidelines</p>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <input id="checkbox1" type="checkbox" checked disabled>
                                            <label for="checkbox1">I Accept The <a href="#">Term Of Conditions</a> And <a href="#">Privacy Policy</a></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="d-flex align-items-center gap-2">
                                            <input type="button" name="previous" class="previous fxt-btn-fill" value="Previous Step">
                                            <input type="submit" name="next" class="fxt-btn-fill" value="Submit">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- jquery-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Imagesloaded js -->
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <!-- Validator js -->
    <script src="{% static 'js/validator.min.js' %}"></script>
    <script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>
    
    <!-- Custom Js -->
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        function formFunction(a=0) {
            var name = document.getElementById("name").value;
            var email = document.getElementById("email").value;
            var twiterUsername = document.getElementById("twiterUsername").value;

            if (name != "" && email != "" && twiterUsername != "") {
                document.getElementById("1of5").style.display = "block";
            } else {
                document.getElementById("1of5").style.display = "none";
            }

            var followersNumber = document.getElementById("followersNumber").value;
            var walletProof = document.getElementById("walletProof").value;

            if (followersNumber != "" && walletProof != "") {
                document.getElementById("2of5").style.display = "block";
            } else {
                document.getElementById("2of5").style.display = "none";
            }

            var experienceYears = document.getElementById("experienceYears").value;
            var previousProject = document.getElementById("previousProject").value;

            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            var isChecked = false;

            for (var i = 0; i < checkboxes.length; i++) {
                if (!checkboxes[i].hasAttribute('checked') && checkboxes[i].checked) {
                    isChecked = true;
                    break;
                }
            }

            console.log(isChecked)
 

            if (experienceYears != "" && previousProject != "" && isChecked) {
                document.getElementById("3of5").style.display = "block";
            } else {
                document.getElementById("3of5").style.display = "none";
            }

            var whyJoin = document.getElementById("whyJoin").value;
            var whatToContribute = document.getElementById("whatToContribute").value;

            if (whyJoin != "" && whatToContribute != "") {
                document.getElementById("4of5").style.display = "block";
            } else {
                document.getElementById("4of5").style.display = "none";
            }
        }
    </script>

</body>

</html>